<div class="Messages">
    <div class="heading">
        <h4>Messages</h4><i class="fa-regular fa-message"></i>
    </div>
    <div class="search-bar">
        <i class="fa-solid fa-magnifying-glass"></i>
        <input type="search" placeholder="search messages" id="messages-search">
    </div>
    <div class="category">
        <h6 class="active"> Primary</h6>
        <h6>General</h6>
        <h6 class="message-requests">Requests (5)</h6>
    </div>
    <div class="messages">
        <div class="message">
            <div class="profile-photo">
                <img class="profails" src="./assets/imgs/profile_pic3.jpg" alt="">
            </div>
            <div class="message-body">
                <h5>Emily Miller</h5>
                <p class="text-bold"> 2 New Messages</p>
            </div>
        </div>
        <div class="message">
            <div class="profile-photo">
                <img class="profails" src="./assets/imgs/profile_pic2.avif" alt="">
                <div class="active"></div>
            </div>

            <div class="message-body">
                <h5>mark Andersen</h5>
                <p class="text-muted"> No way he said that , are you serious </p>
            </div>
        </div>
        <div class="message">
            <div class="profile-photo">
                <img class="profails" src="./assets/imgs/profile_pic4.jpg" alt="">
                <div class="active"></div>
            </div>
            <div class="message-body">
                <h5>Olivia Brown</h5>
                <p class="text-muted"> lol , U right</p>
            </div>
        </div>
        <div class="message">
            <div class="profile-photo">
                <img class="profails" src="./assets/imgs/profile_pic5.avif" alt="">
            </div>
            <div class="message-body">
                <h5>James Moore</h5>
                <p class="text-muted"> okay </p>
            </div>
        </div>
    </div>
</div>