<div class="requests">
    <div class="friend-request">
        <h4>People you may know</h4>
        <div class="request">
            <div class="info">
                <div class="profile-photo">
                    <img class="profails" src="./assets/imgs/profile_pic2.avif" alt="">
                </div>

                <div>
                    <h5>mark Andersen</h5>
                    <p class="text-muted"> 8 mutual frineds</p>

                </div>

            </div>
            <div class="action">
                <button class="btn btn-primary">+ Follow</button>
                <button class="btn">Ignore</button>
            </div>
        </div>
        <div class="request">
            <div class="info">
                <div class="profile-photo">
                    <img class="profails" src="./assets/imgs/profile_pic5.avif" alt="">
                </div>

                <div>
                    <h5>Noah Johnson</h5>
                    <p class="text-muted"> 8 mutual frineds</p>

                </div>

            </div>
            <div class="action">
                <button class="btn btn-primary">+ Follow</button>
                <button class="btn btn">Ignore</button>
            </div>
        </div>
        <div class="request">
            <div class="info">
                <div class="profile-photo">
                    <img class="profails" src="./assets/imgs/profile_pic4.jpg" alt="">
                </div>

                <div>
                    <h5>Olivia Brown</h5>
                    <p class="text-muted"> 8 mutual frineds</p>

                </div>

            </div>
            <div class="action">
                <button class="btn btn-primary">+ Follow</button>
                <button class="btn btn">Ignore</button>
            </div>
        </div>
    </div>
</div>