
.left {
  background-color: var(--color-light);

}

.profail_info {
    width: 100%;
    padding: var(--card-padding);
    background-color: var(--color-white);
    border-radius: var(--card-border-radius);
    display: flex;
    align-items: center;
    column-gap: 1rem;

}

.profail_info img {
    width: 30px;
    height: 30px;
    margin-left: 20px;
    align-content: center;
    border-radius: 50%;
    object-fit: cover;
    cursor: pointer;
    align-self: center;
}

.user_name {
    margin-left: 20px;
}

.user_name h4 {
    margin-left: 5px;
    margin-bottom: 5px;
}

.user_name p {
    font-size: smaller;
    opacity: 60%;
}


.pages_list {
    margin-top: 1rem;
    background-color: var(--color-white);
    border-radius: var(--card-border-radius);
}

.menu_item {
    display: flex;
    align-items: center;
    height: 4rem;
    cursor: pointer;
    transition: all 300ms ease;
    position: relative;
}

.menu_item:hover {
    background-color: var(--color-light);
}

.menu_item i {
    font-size: 1.4rem;
    color: var(--color-gray);
    margin-left: 2rem;
    position: relative;
}

.menu_item i .Notifications_count {
    background-color: var(--color-danger);
    color: white;
    font-size: 0.7rem;
    width: fit-content;
    border-radius: 0.8rem;
    padding: 0.1rem 0.4rem;
    position: absolute;
    top: -0.2rem;
    right: -0.3rem;
}

.menu_item p {
    margin-left: 1.5rem;
    font-size: 1rem;
}

.pages_list .active {
    background-color: var(--color-light);
}

.pages_list .active i,
.pages_list .active p {
    color: var(--color-primary);
}

.pages_list .active::before {
    content: "";
    display: block;
    width: 0.5rem;
    height: 100%;
    position: absolute;
    background-color: var(--color-primary);
}

.pages_list .menu_item:first-child.active {
    border-top-left-radius: var(--card-border-radius);
    overflow: hidden;
}

.pages_list .menu_item:last-child.active {
    border-bottom-left-radius: var(--card-border-radius);
    overflow: hidden;
}

.creat_botton .btn {
    margin-top: 1rem;
    width: 90%;
    text-align: center;
    padding: 1rem 0;

}

/* Notifications_popup */
.Notifications_popup {
    position: absolute;
    top: 0;
    left: 110%;
    width: 20rem;
    background-color: var(--color-white);
    border-radius: var(--card-border-radius);
    padding: var(--card-padding);
    box-shadow: 0 0 2rem hsl(var(--color-primary), 75%, 60%, 25%);
    z-index: 8;
    display: none;
}

.Notifications_popup::before {
    content: "";
    width: 1.2rem;
    height: 1.2rem;
    display: block;
    background: white;
    position: absolute;
    left: -0.6rem;
    transform: rotate(45deg);

}

.Notifications_popup .Notifications_body {
    margin-left: 20px;
}

.Notifications_popup>div {
    display: flex;
    align-items: start;
    gap: 1rem;
    margin-bottom: 1rem;
}

.Notifications_popup small {
    display: block;
}


/* theme customization  */

.customize-theme {
    background: rgba(255, 255, 255, 0.5);
    width: 100vw;
    height: 100vh;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 100;
    text-align: center;
    display: grid;
    justify-items: center;
    align-items: center;
    font-size: 0.9rem;
    display: none;
}

.customize-theme .card {
    background: var(--color-white);
    padding: 3rem;
    border-radius: var(--card-border-radius);
    width: 35%;
    box-shadow: 0 0 0.5rem var(--color-primary);
}

.customize-theme h4 {
    padding-bottom: 25px;
}

.customize-theme h2 {
    padding-bottom: 15px;
}

/* font  */

.customize-theme .font-size {
    margin-top: 3rem;
}

.customize-theme .font-size>div {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: var(--color-light);
    padding: var(--search-padding);
    border-radius: var(--card-border-radius);

}

.customize-theme .choose-size {
    background: var(--color-secondary);
    height: 0.3rem;
    width: 100%;
    margin: 0 1rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.customize-theme .choose-size span {
    width: 1rem;
    height: 1rem;
    border-radius: 50%;
    background: var(--color-secondary);
    cursor: pointer;

}

.customize-theme .choose-size .active {
    background: var(--color-primary);
}

/* recolor  */
.customize-theme .color {
    margin-bottom: 2em;
}

.customize-theme .color h4 {
    padding-top: 25px;
}

.customize-theme .choose-color {
    background: var(--color-light);
    padding: var(--search-padding);
    border-radius: var(--card-border-radius);
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.customize-theme .choose-color span {
    width: 2.2rem;
    height: 2.2em;
    border-radius: 50%;

}

.customize-theme .choose-color span:nth-child(1) {
    background-color: hsl(252, 75%, 60%);
}

.customize-theme .choose-color span:nth-child(2) {
    background-color: hsl(52, 75%, 60%);
}

.customize-theme .choose-color span:nth-child(3) {
    background-color: hsl(352, 75%, 60%);
}

.customize-theme .choose-color span:nth-child(4) {
    background-color: hsl(152, 75%, 60%);
}

.customize-theme .choose-color span:nth-child(5) {
    background-color: hsl(202, 75%, 60%);
}

.customize-theme .choose-color span.active {
    border: 5px solid white;
}

/* background */
.customize-theme .background {
    margin-top: 2rem;
}

.customize-theme .choose-bg {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 1.5rem;
}

.customize-theme .choose-bg>div {
    padding: var(--card-padding);
    width: 100%;
    display: flex;
    align-items: center;
    font-size: 1rem;
    font-weight: bold;
    border-radius: 0.4rem;
    cursor: pointer;
}

.customize-theme .choose-bg>div .active {
    border: 2px solid var(--color-primary);
}

.customize-theme .choose-bg .bg-1 {
    background: white;
    color: black;
}

.customize-theme .choose-bg .bg-2 {
    background: hsl(252, 30%, 17%);
    color: white;
}

.customize-theme .choose-bg .bg-3 {
    background: hsl(252, 30%, 10%);
    color: white;
}

.customize-theme .choose-bg>div span {
    width: 2rem;
    height: 2rem;
    border: 2px solid var(--color-gray);
    border-radius: 50%;
    margin-right: 1rem;
}




