/* You can add global styles to this file, and also import other style files */
*,
*::after,
*::before {
    padding: 0;
    margin: 0;
    outline: 0;
    box-sizing: border-box;
    text-decoration: none;
    list-style: none;
    border: none;
}

:root {
    --primary-color-hue: 252;

    --dark-color-lightness: 17%;
    --light-color-lightness: 95%;
    --white-color-lightness: 100%;


    --color-white: hsl(252, 30%, var(--white-color-lightness));
    --color-light: hsl(252, 30%, var(--light-color-lightness));
    --color-gray: hsl(252, 15%, 35%);
    --color-primary: hsl(var(--primary-color-hue), 75%, 60%);
    --color-secondary: hsl(252, 100%, 90%);
    --color-success: hsl(120, 95%, 65%);
    --color-danger: hsl(0, 95%, 65%);
    --color-dark: hsl(252, 30%, var(--dark-color-lightness));
    --color-black: hsl(252, 30%, 10%);

    --border-radius: 2rem;
    --card-border-radius: 1rem;
    --btn-padding: 0.6rem 2rem;
    --search-padding: 0.6rem 1rem;
    --card-padding: 1rem;

    --sticky-top-left: 5.4rem;
    --sticky-top-right: -18rem;

}

.container {
    width: 90%;
    display: flex;
    margin-top: 100px;
    justify-content: space-between;
    margin-left: 5%;
    margin-right: 5%;

}

body {
    background-color: var(--color-light);
    color: var(--color-dark);
}

.main {
    background-color: var(--color-light);
    color: var(--color-dark);
    min-height: 100vh;
    display: flex;
    align-items: flex-start;
}


.btn {
    display: inline-block;
    padding: var(--btn-padding);
    font-weight: 500;
    border-radius: var(--border-radius);
    cursor: pointer;
    transition: all 300ms ease;
    font-size: 0.9rem;
}

.btn:hover {
    opacity: 0.8;
}

.btn-primary {
    background-color: var(--color-primary);
    color: white;
}

.text-bold {
    font-weight: 500;
}

.text-muted {
    color: var(--color-gray);
}


.profails {
    width: 30px;
    height: 30px;
    margin-left: 20px;
    align-content: center;
    border-radius: 50%;
    object-fit: cover;
    cursor: pointer;
    align-self: center;
}



/* <!-- start media Queries (1) --> */
@media (max-width:900px) {

    app-navbar {
        width: 100%;
    }

    app-sidebar {
        max-width: 100px;
    }

    app-sidebar .left {
        width: 5rem;
        z-index: 5;
        top: 100px;
    }


    app-sidebar .left .profail_info {
        display: none;
    }

    .pages_list p {
        display: none;
    }

    app-sidebar .left .creat_botton {
        display: none;
    }

    #none {
        display: none;
    }

    .right-panel {
        width: 30%;
    }

    .right-panel .search-bar {
        display: none;
    }

    .right-panel .request .action {
        flex-direction: column;
    }

    .customize-theme .card {
        width: 70vw;
    }
}


/* <!-- start media Queries (2) --> */

@media (max-width:750px) {

    .layout .left {
        grid-column: 3/4;
        position: fixed;
        bottom: 0;
        right: 0;

    }

    app-sidebar .left .Notifications_popup {
        position: absolute;
        left: -20rem;
        width: 20rem;
    }

    app-sidebar .left .Notifications_popup::before {
        display: absolute;
        top: 1.3rem;
        left: calc(20rem - 0.6rem);
        display: block;

    }

    .layout .main-content {
        width: 77%;
        margin-left: 30px;
    }

    .main-content {
        margin: auto;
    }

    app-messages,
    app-requests {
        display: none;
    }

    .customize-theme .card {
        width: 60vw;
    }

    .customize-theme .choose-bg {
        flex-direction: column;
    }
}


/* <!-- end media Queries --> */